@charset "UTF-8";

*,*:before,*:after {box-sizing: border-box;}
html{
  font-size: 62.5%;
  /* background-color: rgb(204, 196, 186); */
}
body {
  max-width: 100%;
  padding: 0;
  margin: 0;
  /* font-family:'Montserrat', 'Hiragino Sans', 'hiragino-kaku-gothic-pron', sans-serif; */
  font-family:'Montserrat', 'hiragino-kaku-gothic-pron', sans-serif;
  letter-spacing: 0;
  line-height: 1.8;
  color: #333333;
}
a {
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  /* opacity: 0.5; */
  border-bottom: 1px solid #ffffff;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
img.copy-guard{
  pointer-events: none;
}
ul{
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
h1,h2,h3,p {
  margin: 0;
}
h1,h2,h3 {
  font-weight: normal;
}
/*=========== 共通 =================================*/
.container{
  padding: 0 20px;
}
/*=========== ボタン =================================*/
/* a.btn{ */
.btn{
  display: block;
  max-width: 200px;
  width: 100%;
  height: 54px;
  padding: 18px 0;
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.75px;
  line-height: 1.28;
  color: #FFFFFF;
  text-align: center;
  background: linear-gradient(to right, #7633A4, #250D65);
  transition: all 0.3s;
  border-radius: 50px;
  /* cursor: pointer; */
}
/*=========== h3 =================================*/
h3{
  color: #391E88;
}
h3 span.heading {
  display: block;
  margin-bottom: 2px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 1.23;
  text-align: center;
}
h3 span.subtitle {
  display: block;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.65px;
  line-height: 1.3;
  text-align: center;
}
@media screen and (min-width : 768px){/*PC*/
  h3 span.heading {
    font-size: 36px;
    letter-spacing: 1.8px;
    line-height: 1.22;
  }
}
/*=========== header__top(menu) =================================*/
header .header__top{
  display: flex;
  width: 100%;
  padding: 10px 20px;/*ハンバーガーメニュの高さ考慮*/
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;/*スクロール時ヘッダーの色が変化する*/
  z-index: 2;
}
header h1 img{/* ロゴ */
  width: 124px;
  height: auto;
}
@media screen and (min-width : 768px){/*PC*/
  header .header__top{
    padding: 34px 30px;
  }
  header h1 img{/* ロゴ */
    width: 161px;
  }
}
/*=== hamburger ==========*/
header .hamburger {
  position: relative;
  width: 44px;
  height: 44px;
  top: 0px;
  right: 0px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 30;
}
header .hamburger:hover {
  opacity: 0.7;
}
header .hamburger span {/* ハンバーガーメニューが閉じている時 */
  position: absolute;
  display: inline-block;
  width: 34px;
  height: 2px ;
  left: 5px;
  background: #ffffff;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
}
header .hamburger span:nth-child(1) {/* 1本目 */
  top: 14px;
}
header .hamburger span:nth-child(2) {/* 2本目 */
  top: 21px;
}
header .hamburger span:nth-child(3) {/* 3本目 */
  bottom: 14px;
}
header .hamburger.active span:nth-of-type(1){
  top: 26px;
  left: 5px;
  transform: translateY(-6px) rotate(45deg);
  width: 80%;
}
header .hamburger.active span:nth-of-type(2) {
opacity: 0;/*真ん中の線は透過*/
}
header .hamburger.active span:nth-of-type(3) {
  top: 14px;
  left: 5px;
  transform: translateY(6px) rotate(-45deg);
  width: 80%;
}
@media screen and (min-width : 768px){/*PC*/
  header .hamburger{
    display: none;
  }
}
/*=== ドロワーメニュー ==========*/
header .g-nav{
  position: fixed;
  width: 100%;
  height: 100%;
  top:  0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  background: transparent linear-gradient(155deg, #642390 0%, #19074A 100%) 0% 0% no-repeat padding-box;
  /*ふわっと表示*/
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s linear;
}
header .g-nav.active{
  pointer-events: auto;
  opacity: 1;
}
header .g-nav li{
  display: block;
  margin: 10px 0;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.75px;
  line-height: 1.266;
}
@media screen and (min-width : 768px){/*PC*/
  header .g-nav{
    position: static;
    padding: 0;
    gap: 25px;
    flex-direction: row;
    background-image: none;
    pointer-events: auto;
    opacity: 1;
  }
  header .g-nav li{
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 1.28;
  }
}
@media screen  and (min-width: 768px) and (max-width: 850px) {
  header .g-nav{
    gap: 20px;/*ヘッダーメニュー幅調整*/
  }
}
/*=========== breadcrumb =================================*/
.breadcrumb{
  display: flex;
  padding: 6px 0 5px 20px;
  margin-bottom: 40px;
  background-color: #F7F7F7;
}
.breadcrumb p{
  width: 100%;
  font-size: 11px;
  letter-spacing: 0.55px;
  line-height: 1.27;
  color: #391E88;
}
.breadcrumb .breadcrumb__list-current{
  color: #333333;
  opacity: 1;
  cursor: text;
}
@media screen and (min-width : 768px){/*PC*/
  .breadcrumb{
    padding: 14px 0 15px 11.5%;
    margin-bottom: 70px;
  }
  .breadcrumb p{
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 1.33;
  }
}
/*=========== pagination =================================*/
.pagination{
  display: flex;
  margin-bottom: 80px;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  }
.pagination p{
  width: 45px;
  height: 45px;
  padding: 11px 0 10px 0;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #FFFFFF;
  line-height: 1.2;
  text-align: center;
  border-radius: 50%;
  background: transparent linear-gradient(180deg, #7633A4 0%, #250D65 100%) 0% 0% no-repeat padding-box;
}
.pagination p.pagination__list-link{
  color: #4F31A5;
  background: #F1EBF8 0% 0% no-repeat padding-box;
}
/*=========== contact =================================*/
/*--------------*/
/*  index.html  */
/*--------------*/
.contact{
  padding: 60px 20px;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact h3{
  margin-bottom: 26px;
}
.contact p{
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 1.571;
  text-align: center;
}
@media screen and (min-width : 768px){/*PC*/
  .contact{
    padding: 80px 20px;
  }
  .contact h3{
    margin-bottom: 30px;
  }
  .contact p{
    margin-bottom: 29px;
    font-size: 15px;
    letter-spacing: -1.5px;
  }
}
/*--------------*/
/* contact.html */
/*--------------*/
  .contact__body .breadcrumb{
  margin-bottom: 37px;
}
.contact__body .contact {
  width: 100%;
  background-color: #FFFFFF;
  padding-top: 0;
  padding-bottom: 40px;
}
.contact__body .contact__message{
  margin-bottom: 28px;
  font-size: 14px;
  letter-spacing: -2px;
  line-height: 1.5;
  text-align: center;
}
.contact__body .contact__inner{
  width: 100%;
  padding: 27px 30px;
  background-color: #F7F7F7;
}
.contact__body .contact-form__table{
width: 100%;
}
.contact__body tr{/*tr*/
  display: flex;
  flex-direction: column;
}
.contact__body .contact-form__label{
  margin-bottom: 13px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.75px;
  line-height: 1.33;
}
.contact__body .contact-form__label span{/*必須*/
  display: inline-block;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 1.33;
  color: #391E88;
}
.contact__body .btn-radio{
  display: flex;
  flex-direction: column;
}
.contact__body [type="radio"]{
  width: 18px;
  height: 18px;
  margin-right: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #00000029;
  background-color: #FFFFFF;
  border: 1px solid #AAAAAA;
  outline: none;
  cursor: pointer;
  }
.contact__body [type="radio"]:checked{
  border: 5px solid #fff;
  background-color: #AAAAAA;
  outline: 1px solid #AAAAAA;
}
.contact__body .btn-radio label{
  margin-bottom: 11px;
  font-size: 13px;
  letter-spacing: 0.65px;
  line-height: 1.307;
}
.contact__body .btn-radio label:last-child{
  margin-bottom: 28px;
}
.contact__body [type="text"],
.contact__body [type="email"],
.contact__body select{
  width: 100%;
  max-width: 300px;
  height: 40px;
  margin-bottom: 30px;
  background-color: #FFFFFF;
  border: 1px solid #AAAAAA;
  border-radius: 6px;
  cursor: pointer;
}
.contact__body .form__text,
.contact__body .form__textarea,
.contact__body .form__select{
    padding: 10px 20px;
    font-size: 13px;
    letter-spacing: 0.65px;
    line-height: 1.307;
}
.contact__body [type="tel"]{
  width: 100%;
  max-width: 200px;
  height: 40px;
  margin-bottom: 30px;
  background-color: #FFFFFF;
  border: 1px solid #AAAAAA;
  border-radius: 6px;
  cursor: pointer;
}
.contact__body textarea{
  width: 100%;
  max-width: 601px;
  height: 255px;
  margin-bottom: 27px;
  background-color: #FFFFFF;
  border: 1px solid #AAAAAA;
  border-radius: 6px;
  cursor: pointer;
}
@media screen and (min-width : 768px){/*PC*/
  .contact__body .breadcrumb{
    margin-bottom: 67px;
  }
  .contact__body .contact {
    padding-bottom: 70px;
  }
  .contact__body .contact__message{
    margin-bottom: 38px;
    font-size: 16px;
    letter-spacing: -1.85px;
    line-height: 1.31;
  }
  .contact__body .contact__inner{
    max-width: 1110px;
    padding: 87px 90px 90px 90px;
  }
  .contact__body .contact-form__label{
    margin-bottom: 12px;
    font-size: 16px;
    letter-spacing: 0.8px;
  }
  .contact__body .contact-form__label{
    margin-bottom: 8px;
    font-size: 16px;
    letter-spacing: 0.8px;
  }
  .contact__body .btn-radio{
    flex-direction: row;
  }
  .contact__body .btn-radio label{
    margin-bottom: 27px;
    margin-right: 55px;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 1.357;
  }
  .contact__body [type="text"],
  .contact__body [type="email"],
  .contact__body select{
    margin-bottom: 27px;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 1.357;
  }
  .contact__body .form__text,
  .contact__body .form__textarea,
  .contact__body .form__select{
    padding: 10px 29px;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 1.357;
  }
}
/*=========== footer =================================*/
footer{
  padding: 60px 31px;
  color: #FFFFFF;
  background-color: #120E19;
}
footer ul{
  display: flex;
  margin-bottom: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 1.25;
}
footer .footer__second-block{
  text-align: center;
}
footer .copyright{
  font-size: 10px;
  letter-spacing: 0.5px;
  line-height: 1.3;
  color: #A798B7;
}
.scrolltop{
  position: fixed;
  width: 50px;
  height: 50px;
  margin: 20px;
  right: 0;
  bottom: 0;
  font-size: 25px;
  color: #707070;
  background: #FFFFFF;
  /* border: 1px #707070 solid; */
  border: 2px rgba(112, 112, 112, 0.1) solid;
  border-radius: 50%;
  cursor: pointer;
  /* transition: .3s; */
  /*デフォルトで非表示にする*/
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out;;
}
/*.activeクラス付与で表示する*/
.active{
  opacity: 1;
  visibility: visible;
}
@media screen and (min-width : 768px){/*PC*/
  footer{
    padding: 60px 0;
  }
  footer ul{
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 1.28;
    justify-content: center;
  }
  .scrolltop{
    /*スクロールトップボタンの位置調整*/
    margin: 45px;
  }
}
